/*
  Table of contents
  -----------------
  01. Navbar
  02. Section - Home
    - Home BG Static (default)
    - Home BG Parallax
    - Home BG Slideshow
    - Home BG Slider
  03. Countdown
  04. Intro
  05. Section - Team
  06. Section - Speakers
  07. Section - Venue
  08. Section - Schedule
    - Carousel Schedule
    - Timeline
  09. Milestones
  10. Section - FAQ
    - Accordions
    - Nav Stacked
  11. Section - Ticket
    - Testimonial
    - Pricing
  12. Section - Register
  13. Section - Contact
    - Google map
    - Forms
  14. Event bottom banner
  15. Countdown timer
  16. Footer
  17. Responsive images
  18. Features box
*/



/*
  Navbar
  ------
*/

.navbar-dark {
  background-color: black;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: inherit;
}



/*
  Section - Home
  --------------
*/

/* Home BG Static (default) */

#home {
  background: url("../images/bg-home-1.jpg");
}


/* Home BG Parallax */

#home-bg-parallax > .bg-parallax {
  background: url("../images/bg-parallax.jpg");
}


/* Home BG Slideshow */

#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(1) {
  background: url("../images/bg-home-1.jpg");
}
#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(2) {
  background: url("../images/bg-home-2.jpg");
}
#home-bg-slideshow .bg-slideshow-wrapper .slides > .bg-cover:nth-child(3) {
  background: url("../images/bg-home-3.jpg");
}


/* Home BG Slider */

#home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(1) {
  background: url("../images/bg-home-1.jpg");
}
#home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(2) {
  background: url("../images/bg-home-2.jpg");
}
#home-bg-slider .bg-slider-wrapper .flickity-slider .bg-cover:nth-child(3) {
  background: url("../images/bg-home-3.jpg");
}
#home-bg-slideshow .display-table-cell,
#home-bg-slider .display-table-cell {
  position: relative;
  z-index: 20;
}



/*
  Countdown
  ---------
*/

.countdown {
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  top: -35px;
  z-index: 20;
}
.countdown .clock {
  height: 70px;
  text-align: center;
}
@media (min-width: 992px) {
  .countdown .clock {
    height: 88px;
    text-align: right;
  }
}
.countdown .clock-item {
  color: #ffffff;
  font-family: "Catamaran", sans-serif;
  border-radius: 2px;
  display: inline-block;
  height: 100%;
  letter-spacing: 1px;
  margin-right: 5px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  width: 60px;
}
.countdown .clock-item:last-child {
  margin-right: 0;
}
@media (min-width: 992px) {
  .countdown .clock-item {
    margin-right: 7px;
    width: 75px;
  }
}



/*
  Intro
  -----
*/

#intro .features-box .bg-cover {
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  height: 192px;
}
#intro .features-box:nth-child(1) .bg-cover {
  background-image: url("../images/intro-1.jpg");
}
#intro .features-box:nth-child(2) .bg-cover {
  background-image: url("../images/intro-2.jpg");
}
#intro .features-box:nth-child(3) .bg-cover {
  background-image: url("../images/intro-3.jpg");
}



/*
  Section - Team
  --------------
*/

.member-box {
  margin-bottom: 24px;
}



/*
  Section - Speakers
  ------------------
*/

.speaker-box {
  margin-bottom: 24px;
}



/*
  Section - Venue
  ---------------
*/

#venue {
  background-image: url("../images/bg-venue.jpg");
  background-position: center bottom !important;
}



/*
  Section - Schedule
  ------------------
*/

#schedule .nav-tabs > li.active > a,
#schedule .nav-tabs > li.active > a:hover,
#schedule .nav-tabs > li.active > a:focus {
  background-color: #626262;
  color: #ffffff;
}
#schedule .nav-tabs > li > a {
  color: #272727;
}
#schedule .td-session-number {
  width: 110px;
}


/* Carousel Schedule */

.carousel-schedule .carousel-cell {
  width: 100%;
}
@media (min-width: 768px) {
  .carousel-schedule .carousel-cell {
    width: 50%;
  }
}


/* Timeline */

.flickity-enabled.is-draggable .flickity-viewport,
.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: url("../images/icons/left-right-dark.png"), move;
  cursor: url("../images/icons/left-right-dark.png"), -webkit-grab;
  cursor: url("../images/icons/left-right-dark.png"), grab;
}
.timeline ul {
  margin-left: 20px;
  padding: 15px 0 20px;
}
.timeline ul:before {
  background-color: #dfdfdf;
  border-radius: 50%;
  bottom: 0;
  content: '';
  display: block;
  height: 8px;
  left: 0;
  margin-left: -4px;
  position: absolute;
  width: 8px;
}
.timeline-item {
  padding: 13px 0 13px 33px;
}
.timeline-item:before {
  background-color: #ffffff;
  border: 1px solid #989898;
  border-radius: 50%;
  content: '';
  display: block;
  height: 12px;
  left: 0;
  margin-left: -6px;
  margin-top: -6px;
  position: absolute;
  top: 50%;
  width: 12px;
}
.timeline-item.highlight:before {
  background-color: #989898;
  border: 1px solid #989898;
}
.timeline-content {
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.03);
  padding: 16px;
}



/*
  Milestones
  ----------
*/

#milestones {
  background-image: url("../images/bg-milestones.jpg");
}



/*
  Section - FAQ
  -------------
*/

/* Accordions */

.panel-group .panel {
  border: 1px solid #dfdfdf;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-bottom: 17px;
}
.panel-group .panel:last-child {
  margin-bottom: 0;
}
.panel-group .panel.active .panel-heading {
  background-color: #989898;
}
.panel-group .panel.active .panel-heading .panel-title a {
  color: #ffffff;
}
.panel-group .panel.active .panel-heading .panel-title a:before {
  color: #ffffff;
}
.panel-group .panel + .panel {
  margin-top: 0;
}
.panel-group .panel-heading + .panel-collapse > .panel-body {
  border-top: 1px solid #dfdfdf;
}
.panel-heading {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}
.panel-title a {
  color: #272727;
  display: block;
  padding: 14px 18px 14px 38px;
  position: relative;
}
.panel-title a:before {
  color: #989898;
  content: '\f107';
  display: block;
  font-family: "FontAwesome", sans-serif;
  font-size: 14px;
  left: 0;
  padding: 14px 18px;
  position: absolute;
  top: 0;
}
.panel-title a.collapsed:before {
  content: '\f105';
}
.panel-title a span {
  margin-right: 4px;
}
.panel-body {
  padding: 18px 20px 8px;
}
.panel-body p {
  max-width: 600px;
}


/* Nav Stacked */

.nav.nav-pills.nav-stacked > li:first-child > a {
  border-top-right-radius: 4px !important;
  border-top-left-radius: 4px !important;
}
.nav.nav-pills.nav-stacked > li:last-child > a {
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.nav.nav-pills.nav-stacked > li > a {
  color: #272727;
  padding: 14px 18px;
}



/*
  Section - Ticket
*/

/* Testimonial */

.testimonial {
  max-width: 400px;
}
.testimonial-avatar {
  margin-top: 25px;
}
.testimonial-avatar img {
  left: 0;
  max-height: 75px;
  position: absolute;
  top: 0;
}
.testimonial-avatar-label {
  height: 75px;
  padding-left: 95px;
}


/* Pricing */

.pricing.box-shadow-yes {
  -webkit-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 5px 5px 30px 0px rgba(0, 0, 0, 0.05);
}
.pricing.box-shadow-yes:hover {
  -webkit-box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 50px 0px rgba(0, 0, 0, 0.1);
}
.pricing-dollar {
  bottom: 28px;
}
.pricing ul > li {
  position: relative;
  margin-top: 10px;
}
.pricing ul > li.check-mark {
  padding-left: 32px;
}
.pricing ul > li.check-mark:before {
  background-color: #989898;
  border-radius: 50%;
  color: #ffffff;
  content: '\2713';
  display: block;
  font-size: 11px;
  left: 0;
  line-height: 20px;
  height: 18px;
  position: absolute;
  text-align: center;
  top: 1px;
  width: 18px;
}
.pricing ul > li:first-child {
  margin-top: 0;
}



/*
  Section - Register
  ------------------
*/

#register {
  background-image: url("../images/bg-register.jpg");
}
#register .form-wrapper {
  background: rgba(0, 0, 0, 0.8);
}
#register textarea {
  height: 120px;
}
.button-success {
  color: white;
  border-radius: 4px;
  align-self:right;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: #1e8fe6; /* this is a blue */
}
.text div{
  color:#1e8fe6;
}
.form_row div{
  position: relative;
  top: 20%;
  left: 20%;
  max-width: 60%;

  
}

/*
  Section - Contact
  -----------------
*/

#form-contact textarea {
  height: 120px;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  #form-contact button {
    margin-top: 20px;
  }
}


@media (max-width: 991px) {
  .contact-address {
    margin-top: 48px;
    padding-top: 32px;
    border-top: 1px solid #dfdfdf;
  }
}


/* Google map */

.map {
  position: relative;
  padding-bottom: 100%;    /* aspect ratio 1:1 */
  height: 0;
  overflow: hidden;
}
@media (min-width:420px) {
  .map {
    padding-bottom: 75%;    /* aspect ratio 3:4 */
  }
}
@media (min-width:540px) {
  .map {
    padding-bottom: 60%;    /* aspect ratio 3:5 */
  }
}
@media (min-width:800px) {
  .map {
    padding-bottom: 75%;    /* aspect ratio 3:4 */
  }
}
.map iframe {
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}


/* Forms */

.form {
  position: relative;
  height: 0;
  overflow: hidden;
  border: 0;
}
.form iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
#volunteer-form {
  padding-bottom: 3000px;    /* height */
}
#nominate-speaker-form {
  padding-bottom: 1950px;    /* height */
}



/*
  Event bottom banner
  -------------------
*/
#event-banner {
  background-image: url("https://toptal.com/designers/subtlepatterns/patterns/whitediamond.png");
}
#event-banner .row {
  display: flex;
  flex-direction: column;
}
#event-banner .row #banner-registration {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  #event-banner .row {
    flex-direction: row;
  }
  #event-banner .row #banner-registration {
    margin: auto;
  }
}



/*
  Countdown timer
  ---------------
*/

.countdown-timer {
  display: flex;
  justify-content: center;
}
.countdown-timer div {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
}
.countdown-timer .value {
  font-family: Roboto, sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: white;
  align-self: center;
}
.countdown-timer .label {
  font-family: Catamaran, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.75);
  padding-top: 8px;
  align-self: center;
}
@media (min-width:420px) {
  .countdown-timer .value {
    font-size: 48px;
  }
  .countdown-timer .label {
    padding-top: 16px;
  }
}
@media (min-width:600px) {
  .countdown-timer .value {
    font-size: 56px;
  }
  .countdown-timer .label {
    font-size: 18px;
  }
}
@media (min-width:900px) {
  .countdown-timer .value {
    font-size: 64px;
  }
  .countdown-timer .label {
    padding-top: 24px;
  }
}



/*
  Footer
  ------
*/

.footer {
  padding: 50px 0 32px;
}
.footer-logo {
  padding-bottom: 25px;
}
.footer-logo img {
  width: 180px;
}
.footer .disclaimer {
  padding-bottom: 25px;
  font-size: 14px;
}
.footer-social {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .footer-social {
    padding-bottom: 50px;
  }
}
.footer-social ul > li {
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .footer-social ul > li {
    padding-right: 20px;
    padding-left: 20px;
  }
}
.footer-copyright {
  padding-top: 32px;
}



/*
  Responsive images
  -----------------
*/

.img-wrapper {
  position: relative;
  padding-bottom: 100.33%;    /* 4:3 aspect ratio */
  overflow: hidden;
  width: 100%;
}
.img-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  margin: auto;
}



/*
  Features box
  ------------
*/

@media (min-width: 768px) {
  .row .features-box {
    margin-bottom: 15px;
  }
  .row .features-box:last-child {
    margin-bottom: 0;
  }
}

.cardtype input{
                width: 20%;
            }
.cardtype img{
                max-width: 300px;
                width: 40%;
            }
.cardtype label{
    align-content: center;

}
.fill-container div{
  margin-left: 0%;
  align-self: center;
  width: 100%;
} 
.timer-container div{
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.sizeAdjust form{
  width:75%;
  max-width: 400px;
}

.sizeAdjust div{
  align-items: center;
  max-width: 75%;
  margin-left: 15%;
}
.sizeAdjustModal div{
  align-items: center;
  top: 0%;
  left: 0%;
  max-width: 75%;
  margin-left: 10%;
}
.sizeAdjustModal img{
  max-width:280px;
  align-self:center
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .sizeAdjustModal div {
      max-width: 90%;
      margin-left: 10%;
      padding-right: 5%;
  }
  .sizeAdjustModal img{
    max-width: 90%;
    
  }
  .sizeAdjustModal h4{
    max-width: 100%;
  }
  .sizeAdjust .btn{
    width: 160px;
    max-width: 400px;
  }
  .fill-container div{
    margin-left: 0%;
  } 
}
.btn button{
  width: 100%;
}
